body {
    color:black;
    background-color:rgb(239, 142, 24);
    background-repeat:no-repeat;
    background-position: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Verdana, sans-serif;

}


header {
    width: 100%;
    height: 100px;
    background-color:black;
    color: whitesmoke;
    text-align: center;
    font-family: fantasy;
    font-size: 16px;
}


.about {
    height: 500px;
    text-align: center;
    background-image:linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ), url(images/port1111.jpg);
    background-position: 0%;
    background-size: 100%;
    margin-top: 5%;
    background-attachment: fixed;
    color: aliceblue;
    background-repeat : no-repeat;
}

.logo{
    height: 60px;
    width: 60px;
}

.mabout {
    height: 500px;
    text-align: center;
    background-image:linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ), url("images/bateau petit.jpg");
    background-position: 0%;
    background-size: 100%;
    margin-top: 5%;
    background-attachment: fixed;
    color: aliceblue;
    background-repeat : no-repeat;
}

.aabout {
    height: 500px;
    text-align: center;
    background-image:linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ), url("images/airplane-1.jpg");
    background-position: 0%;
    background-size: 100%;
    margin-top: 5%;
    background-attachment: fixed;
    color: aliceblue;
    background-repeat : no-repeat;
}

.oabout {
    height: 500px;
    text-align: center;
    background-image:linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ), url("images/hotel vika.jpg");
    background-position: 0%;
    background-size: 100%;
    margin-top: 5%;
    background-attachment: fixed;
    color: aliceblue;
    background-repeat : no-repeat;
}

.marservice {
    float: left;
    width:33%;
    border: 1px solid black;
}

.intile {
    background-color:blue;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.aerservice{
    display: inline-block;
    width:33%;
    border: 1px solid black;
 }
 .auservice{
    float: right;
    width:33%;
    border: 1px solid black;
 }

 img {
    width : 150px;
    height : 150px;
}

 .services{
    background-color: white;
    
 }

 
.imageflottante{
    float: left;
}


